<% provide(:title, "About") %>

<h1>About</h1> 
<p>Using the The Ruby on Rails Tutorial and its </em><a href="https://www.railstutorial.org/book">book</a> by Michael Hart, we used Ruby on Rails to
create a twitter clone where all visible buttons, links, and functionalities within the website are implemented. Although they only work locally, 
feel free to try them all out!

<br>
<br>

Note that when signing up or attempting to change the password - an email will <em>not</em> actually be sent to you. If you have cloned the repository
locally, a link for these features can be found in the terminal (e.g. where you ran the local server using <em>rails server</em>).

<br>
<br>

Thanks for visiting this sample app!<br>
<br>
Regards,<br>
Lutfisk
</p>