<% provide(:title, "Contact") %>

<h1>Contact Us</h1> 
<br>
<p>Let's be honest, if you are checking this repository, you most likely already know how to get in contact with me.
Instead, I'll link you my <a href="https://github.com/lutfisk">github</a> page once again.
<br>
</p>