<footer class="footer">
    <small>
        Website made with <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial (Michael Hartl)</a>, by 
        <a href="https://github.com/lutfisk"> Lutfisk</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>